In [1]:
#import required libraries

import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from pathlib import Path
# didn't install beasy yet, still working from basic api call
# from beasy.beasy import Bea
%matplotlib inline

In [2]:
#load the API keys stored in .env file
load_dotenv()

True

In [3]:
# https://apps.bea.gov/api/signup/index.cfm to signup for API key for Bureau of Economic Analysis

# https://apps.bea.gov/api/_pdf/bea_web_service_api_user_guide.pdf for user guide

In [5]:
#get BEA API key from .env file
bea_api_key=os.getenv("BEA_API_KEY")

#Defining the beasy client to read the BEA Data using the Beasy API reader # disabled this temporarily
# client = Bea(bea_api_key)

In [6]:
# set up query URL
bea_url = "http://apps.bea.gov/api/data?UserID=" + bea_api_key + "&method=GETDATASETLIST&ResultFormat=JSON"

In [7]:
#send request to BEA
bea_response = requests.get(bea_url).json()["BEAAPI"]["Results"]

In [8]:
#review response
bea_response

{'Dataset': [{'DatasetName': 'NIPA',
   'DatasetDescription': 'Standard NIPA tables'},
  {'DatasetName': 'NIUnderlyingDetail',
   'DatasetDescription': 'Standard NI underlying detail tables'},
  {'DatasetName': 'MNE', 'DatasetDescription': 'Multinational Enterprises'},
  {'DatasetName': 'FixedAssets',
   'DatasetDescription': 'Standard Fixed Assets tables'},
  {'DatasetName': 'ITA',
   'DatasetDescription': 'International Transactions Accounts'},
  {'DatasetName': 'IIP',
   'DatasetDescription': 'International Investment Position'},
  {'DatasetName': 'InputOutput', 'DatasetDescription': 'Input-Output Data'},
  {'DatasetName': 'IntlServTrade',
   'DatasetDescription': 'International Services Trade'},
  {'DatasetName': 'GDPbyIndustry', 'DatasetDescription': 'GDP by Industry'},
  {'DatasetName': 'Regional', 'DatasetDescription': 'Regional data sets'},
  {'DatasetName': 'UnderlyingGDPbyIndustry',
   'DatasetDescription': 'Underlying GDP by Industry'},
  {'DatasetName': 'APIDatasetMetaData',
   'DatasetDescription': 'Metadata about other API datasets'}]}

In [10]:
#Beasy client to get the BEA Data set list
# client.getDatasetList()
# disabled this temporarily

In [11]:
# the following code was used to test the response for regional data

In [12]:
 bea_regional_url = "http://apps.bea.gov/api/data?UserID=" + bea_api_key + "&method=getparameterlist&datasetname=Regional&ResultFormat=JSON"

In [13]:
 bea_regional_response = requests.get(bea_regional_url).json()["BEAAPI"]["Results"]

In [14]:
 bea_regional_response

{'Parameter': [{'ParameterName': 'GeoFips',
   'ParameterDataType': 'string',
   'ParameterDescription': 'Comma-delimited list of 5-character geographic codes; COUNTY for all counties, STATE for all states, MSA for all MSAs, MIC for all Micropolitan Areas, PORT for all state metro/nonmetro portions, DIV for all Metropolitan Divisions, CSA for all Combined Statistical Areas, state post office abbreviation for all counties in one state (e.g. NY)',
   'ParameterIsRequiredFlag': '1',
   'MultipleAcceptedFlag': '1'},
  {'ParameterName': 'LineCode',
   'ParameterDataType': 'integer',
   'ParameterDescription': 'Line code for a statistic or industry',
   'ParameterIsRequiredFlag': '1',
   'MultipleAcceptedFlag': '0'},
  {'ParameterName': 'TableName',
   'ParameterDataType': 'string',
   'ParameterDescription': 'Regional income or product table to retrieve',
   'ParameterIsRequiredFlag': '1',
   'ParameterDefaultValue': '',
   'MultipleAcceptedFlag': '0'},
  {'ParameterName': 'Year',
   'ParameterDataType': 'string',
   'ParameterDescription': 'Comma-delimted list of years; LAST5 for latest 5 years; LAST10 for latest 10 years; ALL for all years',
   'ParameterIsRequiredFlag': '0',
   'ParameterDefaultValue': 'LAST5',
   'MultipleAcceptedFlag': '1'}]}

In [130]:
# A few codes which may be useful for further API calls and data analysis:

# Codes (from the BEA API instructions pdf):

# SQINC1 Personal Income Summary: Personal Income, Population, Per Capita Personal Income by States

# SQGDP9 Real GDP by state 

# SQGDP2 Gross domestic product (GDP) by state 2

In [124]:
# this query will get the data for all states for the last five years for personal income per capita.

bea_states_personal_income_linecode_query_url = "http://apps.bea.gov/api/data?UserID=" + bea_api_key + "&method=GetData&datasetname=Regional&TableName=SQINC1&GeoFIPS=STATE&LineCode=3&Year=LAST5&ResultFormat=JSON"

In [125]:
#query for last five years personal income by state.
personal_income_by_state_5year = pd.DataFrame(requests.get(bea_states_personal_income_linecode_query_url).json()["BEAAPI"]["Results"]["Data"])

In [126]:
#review the results of the query
personal_income_by_state_5year

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,SQINC1-3,00000,United States,2018Q4,Dollars,0,"54,874",NaN
1,SQINC1-3,00000,United States,2018Q3,Dollars,0,"54,409",NaN
2,SQINC1-3,00000,United States,2018Q2,Dollars,0,"53,807",NaN
3,SQINC1-3,00000,United States,2018Q1,Dollars,0,"53,287",NaN
4,SQINC1-3,00000,United States,2017Q1,Dollars,0,"51,018",NaN
...,...,...,...,...,...,...,...,...
1075,SQINC1-3,98000,Far West,2021Q2,Dollars,0,"71,090",NaN
1076,SQINC1-3,98000,Far West,2018Q4,Dollars,0,"60,639",NaN
1077,SQINC1-3,98000,Far West,2018Q3,Dollars,0,"60,178",NaN
1078,SQINC1-3,98000,Far West,2018Q2,Dollars,0,"59,483",NaN
1079,SQINC1-3,98000,Far West,2018Q1,Dollars,0,"58,819",NaN

In [127]:
# Using the Beasy client to read the Personal Income data from the BEA API

# client.Regional.getData(TableName='SQINC1', LineCode='3', GeoFIPS='STATE', Year='LAST5')

In [128]:
# clip out the unnecessary columns
personal_income_by_state_5year=personal_income_by_state_5year[["GeoName", "TimePeriod", "DataValue"]]
personal_income_by_state_5year

            GeoName TimePeriod DataValue
0     United States     2018Q4    54,874
1     United States     2018Q3    54,409
2     United States     2018Q2    53,807
3     United States     2018Q1    53,287
4     United States     2017Q1    51,018
...             ...        ...       ...
1075       Far West     2021Q2    71,090
1076       Far West     2018Q4    60,639
1077       Far West     2018Q3    60,178
1078       Far West     2018Q2    59,483
1079       Far West     2018Q1    58,819

[1080 rows x 3 columns]

In [129]:
# Used str.replace() to remove the ',' from the Income datavalue and convert to float from string

personal_income_by_state_5year['DataValue'] = personal_income_by_state_5year['DataValue'].str.replace(',', '').astype('float')
personal_income_by_state_5year

C:\Users\phods\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            GeoName TimePeriod  DataValue
0     United States     2018Q4    54874.0
1     United States     2018Q3    54409.0
2     United States     2018Q2    53807.0
3     United States     2018Q1    53287.0
4     United States     2017Q1    51018.0
...             ...        ...        ...
1075       Far West     2021Q2    71090.0
1076       Far West     2018Q4    60639.0
1077       Far West     2018Q3    60178.0
1078       Far West     2018Q2    59483.0
1079       Far West     2018Q1    58819.0

[1080 rows x 3 columns]

In [122]:
# Filter the dataframe to get just the states

list_of_states = [ 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',                            'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',                        'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 
                   'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                   'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',                            'Wisconsin', 'Wyoming']

personal_income_state_filter = personal_income_by_state_5year['GeoName'].isin(list_of_states)
personal_income_filter_by_state = personal_income_by_state_5year[personal_income_state_filter]
personal_income_filter_by_state

     GeoName TimePeriod  DataValue
18   Alabama     2020Q1    45031.0
19   Alabama     2020Q2    48797.0
20   Alabama     2020Q3    46288.0
21   Alabama     2020Q4    45736.0
22   Alabama     2019Q1    43530.0
..       ...        ...        ...
931  Wyoming     2017Q2    56299.0
932  Wyoming     2017Q3    57082.0
933  Wyoming     2017Q4    58031.0
934  Wyoming     2021Q1    68028.0
935  Wyoming     2021Q2    63589.0

[864 rows x 3 columns]

In [123]:
# Setting the time period to be the index and converting the datatype from string to dateTime

personal_income_filter_by_state = personal_income_filter_by_state.set_index('TimePeriod')
personal_income_filter_by_state.index = pd.to_datetime(personal_income_filter_by_state.index)
personal_income_filter_by_state

            GeoName  DataValue
TimePeriod
2020-01-01  Alabama    45031.0
2020-04-01  Alabama    48797.0
2020-07-01  Alabama    46288.0
2020-10-01  Alabama    45736.0
2019-01-01  Alabama    43530.0
...             ...        ...
2017-04-01  Wyoming    56299.0
2017-07-01  Wyoming    57082.0
2017-10-01  Wyoming    58031.0
2021-01-01  Wyoming    68028.0
2021-04-01  Wyoming    63589.0

[864 rows x 2 columns]

In [112]:
# Group the data by state and calculate the average personal income for every year from 2017 to current year

# personal_income_filter_annual = personal_income_filter_by_state.groupby('GeoName').resample('A').mean()
# personal_income_filter_annual

                    DataValue
GeoName TimePeriod
Alabama 2017-12-31   40855.25
        2018-12-31   42319.25
        2019-12-31   43987.75
        2020-12-31   46463.00
        2021-12-31   50383.00
...                       ...
Wyoming 2017-12-31   56698.25
        2018-12-31   59877.25
        2019-12-31   61036.25
        2020-12-31   61838.00
        2021-12-31   65808.50

[240 rows x 1 columns]

In [113]:
personal_income_filter_annual = personal_income_filter_by_state.groupby('GeoName').resample('A').mean()
personal_income_filter_annual

NameError: name 'personal_income_filter' is not defined